<div class="center well jumboIndex shoplist">
  <h2 class="text-center">My Shopping List</h2>
</div>
<%= render "layouts/flash" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well shoplist">
        <p><%= link_to "Add new Item", new_shopping_path, class: "btn btn-success" %></p>
        <table>
          <tr>
            <th class="boldText">Items</th>
          </tr>
          <% @shop.each do |shoppings| %>
            <tr>
              <td class="itemsFont"><%= shoppings.item %><td>
              <td><%= link_to "Edit Item", edit_shopping_path(shoppings), class: "btn btn-primary bdr" %></td>
              <td><%= link_to "Delete Item", shopping_path(shoppings), method: :delete, data: {confirm: "Deleted" }, class: "btn btn-danger bdr" %></td>
            </tr>
          <% end %>
        </table>
        
      </div>
    </div>
  </div>
</div>

<div>
     <%= render "layouts/footer" %>
</div>